


.cart-area .container {
  border: 1px solid;
  margin: 0;
  padding: 5px;
  /* padding-bottom: 15px; */
  /* padding-top: 15px; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* max-height: 500px; */
}

.cart-area .wrapper {
  border: 1px solid;
  margin: 5px 5px 5px 5px;
  width: 990px;
  min-height: 300px;
}

.cart-area div.row{
  display: flex;
  justify-content: center;
}

.cart-area ul {
  background-color: var(--tabColor);
  /* border-radius:1rem 1rem 0px 0px !important; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /* border: 2px solid; */
  padding: 0.5rem;
}

.cart-area .table thead th {
  border-bottom: 1px dashed var(--black);
}

.cart-area .nav-link {
  color: var(--medGrey) !important;
}

.cart-area .nav-link.active {
  color: var(--black) !important;
}

.cart-area .nav-tabs .nav-link {
  background: inherit;
  border: none;
  border-radius: 0 !important;
}

.cart-area .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: inherit !important;
  border: none;
}
.cart-area .nav-item{
  width: fit-content;
}
.cart-area .table-content {
  flex-grow: 4;
  margin: auto;
  text-align: center;
}

.cart-area .table-content.sub-table{
  margin: 0 !important;
}

.cart-area .table-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart-area .table-content ul .guestCounter {
  margin: 0;
}

.cart-area .table-content ul li {
  /* background-color: #ff1010; */
}

.cart-area .table-content ul .input-multibet-counter {
  margin: 0;
  width: 65px;
}

.tab-pane .table-content table tbody{
    /* min-height: 00px !important; */
}
.cart-area .table-content ul .input-multibet-counter:focus {
  outline: none !important;
}

.cart-area .balance-content {
  /* background-color: var(--tabColor); */
  /* margin-top: 0.5rem; */
  flex-grow: 1;
  text-align: center;
}

.cart-area .balance-content thead th {
  border-bottom: 0px;
  box-shadow: 2px 2px 10px 0px #999999 inset;
  color: var(--black);
  padding: 1rem;
}

.balance-content {
  /* padding-bottom: 2rem;     */
  /* background-color: var(--tabColor); */
  /* margin-left: 0.5rem; */
}

.balance-content table{
  table-layout: fixed;
  width: 200px;

}
.cart-area .table-balance-container {
  display: flex;
  justify-content: space-between;
}

.cart-area .table>tbody {
  vertical-align: middle;
}
 /* .m-spacer{
  width: 10px;
  display: flex !important;
  justify-content: space-between !important;
  width: 100px;
  background-color: rgb(211, 25, 25) !important;
} */

.cart-area .form-check-input{
  width: 1.5rem;
  height: 1.5rem;
}
.cart-area .balance-content table tbody {
  background-color: var(--tabColor);
  height: 180px;
  padding-bottom: 2rem;
}

.cart-area .total-bets {
  color: var(--red);
}

.btn-bet-now,
.btn-track, .cart-btn-track {
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.btn-track, .cart-btn-track {
  background-color: var(--lighterGrey);
  box-shadow: 2px 2px 10px 0px var(--lightGrey);
  color: var(--medGrey);
}

.btn-track:hover {
  background-color: var(--lightGrey);
}

/* .btn-bet-now {
  background-color: var(--orangeRed);
  box-shadow: 2px 2px 10px 0px var(--orangeRed);
  color: var(--white);
} */


.btn-track:hover {
  /* background: #fa3600; */
  box-shadow: 2px 2px 5px 1px var(--orangeRed);
  background-image: linear-gradient(to bottom, #e65b35, #f70000);
  text-decoration: none;
}

.cart-increment,
.cart-decrement {
  /* padding: 5px; */
  width: 17px;
  background-color: var(--lightGrey);
  /* border: 1px solid#f70000; */
  /* background-color: #e65b35; */
}

ul.multibetCounter {
  border-radius: 5px !important;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 22px;
  background-color: var(--lighterGrey);
  color: var(--black);
}
.bi-plus, .bi-dash{
  font-size: 14px;
}

.mask-balance{
    content: 'sss';
}


/*--------------------------------------------------------------
# Track
--------------------------------------------------------------*/

.draw-and-multibet-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 1rem;
    align-items: flex-start;
}
.draw-and-multibet-container .card{
  width: 100%;
}
#track-tab-pane .table-content{
    padding: 1rem;
    /* background-color: #f70000; */
}

.cart-area button.nav-link {
  padding: 0;
}

#track-tab-pane ul#trackTab.nav-tabs{
  width: 100%;
  height: 30px;
  padding: 0 !important;
  background-color: var(--lighterGrey);
}
.first-multi-draws{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-draw-container select {
    width: 200px;
    /* color: #f70000; */
    padding: 0.5rem;
}

.btn-current{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

/* .btn-next-day{
  background-color: var(--activeColorBtn) !important;
  color: var(--white) !important;
  padding: 0.3rem !important;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  white-space: nowrap;
  padding-bottom: 0.5rem !important;

} */

.btn-current.active{
  /* background-color: #076696 !important; */
}

.tableFixHead {
  overflow-y: auto;
  height: 200px;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
}

.track-table-content thead{
  background: var(--lighterGrey);
  border-bottom: 1px solid var(--lighterGrey);


}

/* .cart-area .table-body td{
  width:fit-content;
} */
.cart-area .my-ul-el{
  width: inherit !important;
  display: flex !important;
  /* justify-content: ; */
  /* background-color: #e65b35; */
}

.tableFixHead thead {
  position: sticky;
  top: -1px;
  background: var(--lighterGrey);
}


/********** STYLING FOR SCROLLBAR IN TABLE **********************/
/*! Firefox */    
.tableFixHead{
  scrollbar-color: #128612 #004E00;
}

/*! Other Browser */
.tableFixHead {
  --scrollbarBG: #caffff;
  --thumbBG: #0392f1;
}
.tableFixHead::-webkit-scrollbar {
  width: 11px;
}
.tableFixHead {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.tableFixHead::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.tableFixHead::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.tableFixHead ul {
  background-color: transparent;
  width: 100%;
}

/* .tableFixHeight {
  overflow-y: auto;
  height: 400px;
}
.tableFixHeight {
  overflow-y: auto;
  height: 250px;
}

.tableFixHeight table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHeight th,
.tableFixHeight td {
  padding: 8px 16px;
} */

/* .tableFixHeight tr{
  height: fit-content;

} */


.tableClassName tbody {
  display: block;
  max-height: 200px;
  overflow-y: auto;
}

.tableClassName thead, .tableClassName tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tableClassName thead {
  width: calc( 100% - 1.1em );
}

.tableClassName th, .tableClassName td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

/* td{
  padding-top: 5rem;
} */
.first-multi-draws-negative-margin{
  margin-left: -3.5rem;
}

/*--------------------------------------------------------------
# ModalDialog
--------------------------------------------------------------*/



#m-betModal{
  z-index: 999999;
}

#m-betModal .modal-dialog-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Default Buttons
--------------------------------------------------------------*/

.m-btn-orange {
  background-color: var(--orangeRed);
  color: var(--white);
  border-radius: 0.3rem;
}

.m-btn-indigo{
  background-color: var(--activeColorBtn) !important;
  color: var(--white) !important;
  padding: 0.3rem !important;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  white-space: nowrap;
  /* padding-bottom: 0.5rem !important; */

}

.m-btn-ash{
  background-color: var(--silver);
  color: var(--white);
  border-radius: 0.3rem;
}

.m-btn-purple-blue{
  background-color: var(--purpleBlue);
  color: var(--white);
  border-radius: 0.3rem;

}